<nav>
    <div class="logo">
        <span>El santo rosario</span>
    </div>

    <div class="days">
        <ul>
            <li><a (click)="setDay(1)">Lunes</a></li>
            <li><a (click)="setDay(2)">Martes</a></li>
            <li><a (click)="setDay(3)">Miércoles</a></li>
            <li><a (click)="setDay(4)">Jueves</a></li>
            <li><a (click)="setDay(5)">Viernes</a></li>
            <li><a (click)="setDay(6)">Sábado</a></li>
            <li><a (click)="setDay(0)">Domingo</a></li>
        </ul>
    </div>
</nav>