<h4>Primer misterio</h4>

<h4>La resurrección del Hijo de Dios</h4>

<p>El primer día de la semana, muy de mañana, fueron al sepulcro llevando los aromas que habían preparado. Pero
    encontraron que la piedra había sido retirada del sepulcro, y entraron, pero no hallaron el cuerpo del Señor Jesús.
    No sabían qué pensar de esto, cuando se presentaron ante ellas dos hombres con vestidos resplandecientes. Ellas,
    despavoridas, miraban al suelo, y ellos les dijeron: "¿Por qué buscáis entre los muertos al que está vivo? No está
    aquí, ha resucitado"» (Lc 24, 1-6)</p>