<h3>Credo</h3>

<p>Creo en Dios, Padre Todopoderoso, Creador del cielo y de la tierra. Creo en Jesucristo, su único Hijo, Nuestro
    Señor, que fue concebido por obra y gracia del Espíritu Santo.

    Nació de Santa María Virgen, padeció bajo el poder de Poncio Pilato, fue crucificado, muerto y sepultado. Descendió
    a los infiernos, al tercer día resucitó de entre los muertos, subió a los cielos y está sentado a la derecha de
    Dios, Padre Todopoderoso, y desde allí va a venir a juzgar a vivos y muertos.

    Creo en el Espíritu Santo, la Santa Iglesia Católica, la comunión de los santos, el perdón de los pecados, la
    resurrección de la carne y la vida eterna.

    Amén.
</p>